.chatoverlay {
    color: #333333;
    height: 400px;
    max-height: 150px;
    width: 150px;
    max-width: 150px;
    padding: 25px;
    border: 1px solid white;
}
.chatMessages {
    overflow: scroll;
}